@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');




.bg-light{
  background-color: #fba6cc;
}

nav {
  font-family:'Raleway'
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@keyframes cursor-effect {
  0% {
      background-color: #000000;
  }
  49% {
      background-color: #000000;
  }
  50% {
      background-color: #00000000;
  }
  50% {
      background-color: #00000000;
  }
  100% {
      background: #00000000;
  }
}
