// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$dark:   rgb(19,30,42);
$primary: #ffffff;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "./node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "./node_modules/bootstrap/scss/maps";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "./node_modules/bootstrap/scss/utilities";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "./node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

#root {
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(255, 255, 255) 0%,rgb(194, 169, 211) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

.card-image-container > img {
    flex-shrink: 0;
}

.card-image-container {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100px;
}

img.emoji {
    height: $h6-font-size *1.25;
    position: relative;
    bottom: 2px;
}

.navbar {
    background-color: rgba($dark,0.4);
    backdrop-filter: blur(10px);

}

.navbar-brand, .navbar-brand:hover ,.navbar-nav .nav-link.active {
    color: #ffffff;
}

.nav-link:link, .nav-link:visited {
    text-decoration: none;
}


.card {
    background-color: rgba(19,30,42,0.4);
    border: 1px;
    color: $primary;
    width: 100%;
}

.card-text{
    white-space: pre-line;
    font-size:1.2rem,
}

.card-title {
    font-size:2rem;
}

#navbar-brand {
    width:15%;
}

#cursor {
    display: inline-block;
    width: 1.5px;
    background-color: $primary;
    margin-left: 0px;
    animation: cursor-effect 1s infinite;
  }

  @keyframes cursor-effect {
    0% {
        background-color: $primary;
    }
    49% {
        background-color: $primary;
    }
    50% {
        background-color: #00000000;
    }
    50% {
        background-color: #00000000;
    }
    100% {
        background: #00000000;
    }
  }

// Main page:


// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
.card-image {
    height: 100%;
    width:100%;
}

// Main body

.main-body:nth-child(1) > :not(.landing) {
    margin-top:6rem;
}

.landing {

    height: 100vh;
}

@media (min-width: 1080px){
    .main-body {
        width: 1080px;
    }
}

.icon-button:hover {
    filter: invert(50%);
    transition: 0.25s;
}

.icon-button {
    filter: invert(0%);
    transition: 0.25s;
}

.icon-button img {
    filter: invert(100%);
}
// Footer
.footer {
    background-color: $dark;
    color:$primary;
    min-height: 75px;
}

// Card component

@include media-breakpoint-up(md) {
    .card-image {
        height:100%;
        width:auto;
    }

    .card-image-container {
        height: auto;
    }

    
}
